<div class="inner cover">
  <h1 class="cover-heading"><i class="fa fa-chevron-circle-up"></i> Uphill</h1>
  <p class="lead">Move closer to your goals day by day.</p>
  <p class="lead">
    <%= link_to "Sign Up", register_path, class: "btn btn-lg btn-default btn-round" %>
  </p>
</div>
