<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <h2 class="text-left">

      <% if schedule == "daily" %>
        <i class="fa fa-th"></i> Daily <i class="fa fa-angle-double-right"></i>
      <% elsif schedule == "weekly" %>
        <i class="fa fa-th-large"></i> Weekly <i class="fa fa-angle-double-right"></i>
      <% else %>
        <i class="fa fa-square"></i> Biweekly <i class="fa fa-angle-double-right"></i>
      <% end %>

    </h2>
  </div>
</div>
