<h1><%= @goal.title %></h1>
<%= line_chart [
  [0, 0],   [1, 10],  [2, 23],
        [3, 17],  [4, 18],  [5, 9],
        [6, 11],  [7, 27],  [8, 33],
        [9, 40],  [10, 32], [11, 35],
        [12, 30], [13, 40], [14, 42],
        [15, 47], [16, 44], [17, 48],
        [18, 52], [19, 54], [20, 42],
        [21, 55], [22, 56]
], library: {backgroundColor: "#333"}  %>


<%= line_chart [

  [-1, 1], [0, 2], [1, 3], [2, 4]


  ], library: {backgroundColor: "#333"} %>
